.back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: black;
  color: #e9dcc9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
}

.dark-mode .back-to-top-btn {
  background-color: #e9dcc9;
  color: black;
}

.back-to-top-btn.show {
  opacity: 1;
  visibility: visible;
}
