.dark-icon-floater {
  cursor: pointer;
  position: fixed;
  top: 200px;
  left: 0;
  padding: 10px;
  background-color: #f9f6ee;
  border: 2px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
}

.dark-mode .dark-icon-floater {
  background-color: #1c1c1c;
  color: #e9dcc9;
  border: 2px solid #e9dcc9;
  z-index: 1;
}
