.dark-mode #about-container {
  background-color: #1c1c1c;
}

.dark-mode .about-title {
  color: #e9dcc9;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
}

.dark-mode .about-content {
  color: #e9dcc9;
  font-family: "VT323", monospace;
  font-size: 20px;
  line-height: 1.2;
  text-align: justify;
  hyphens: auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
