.dev-container {
  width: 100%;
  background-color: #f9f6ee;
  text-align: center;
  color: black;
  animation-duration: 1s;
  animation-delay: 1.5s;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-family: "VT323", monospace;
  font-size: 20px;
  /* animation: moveLeftToRight 6s infinite; Adjust the duration and timing as needed */
}

.dark-mode .dev-container {
  color: #e9dcc9;
  background-color: #1c1c1c;
}

/* Define the keyframes for the moving animation */
@keyframes moveLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
